[Unit]
Description=Python Flask App
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/var/www/python-app
ExecStart=/var/www/python-app/venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target
